body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    transition: border 0.3s ease;
}

#spotify {
    background-color: #1ed760;
}

#samtal {
    background-color: gray;
}

#maps {
    background-color: blue;
}

.button:hover {
    border: 1px solid black;
}

#digitalClock{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3rem;
}
