/* fonts */
@font-face {
    font-family: 'Digital';
    src: url('./font/DS-DIGI.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DigitalBold';
    src: url('./font/DS-DIGIB.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DigitalItalic';
    src: url('./font/DS-DIGII.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DigitalThin';
    src: url('./font/DS-DIGIT.TTF') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.bold-digital {
    font-family: 'DigitalBold', monospace;
}

.digital-text {
    font-family: 'Digital', monospace;
}

.italic-digital {
    font-family: 'DigitalItalic', monospace;
}
/* fonts */

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}   

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    transition: border 0.3s ease;
}

#spotify {
    border-radius: 50%;
}
#samtal {
    border-radius: 25%;
}
#maps {
    border-radius: 17%;
}

.button:hover {
    border: 1px solid black;
}

#digitalClock{
    width: 100%;    
    height: auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Digital', monospace;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}
