body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}   

#spotify {
    background-color: #1ed760;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    width: 20vw;
    height: 20vh;
}

#samtal {
    background-color: gray;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    height: 20vh;
}

#maps {
    background-color: blue;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20vw;
    height: 20vh;
}

.buttons {
    display: flex;
    gap: 10px;
}

#spotify:hover {
    border: 1px solid white;
}

#samtal:hover {
    border: 1px solid white;
}

#maps:hover {
    border: 1px solid white;
}
